<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Access record insertion page</h1>
        <form method="post">
            {% csrf_token %}
            <label for="name">Name</label>
            <select name="name" id="name">
                {% for ao in QLWO %}

                    <option value="{{ao.id}}">{{ao.name}}</option>

                {% endfor %}
            </select>
            <br>
            <label for="date">Date</label>
            <input type="date" name="date" id="date"><br>
            <label for="author">Author</label>
            <input type="text" name="author" id="author">
            <br>
            <input type="submit">
        </form>
    </center>
</body>
</html>